{% extends "base.html.twig" %}

{% block title %}Erreur 404{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="content" class="container">
        <main class="pb-5">
            <h2>Page non trouvée</h2>
            <p>Erreur 404 : la page demandée n'a pas été trouvée</p>
        </main>
    </div>
{% endblock %}