{% extends "base.html.twig" %}

{% block title %}Interface administrateur{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-between">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark left-0  ">
        <div>
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">Estelle Gaits</span>
            </a>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                Tableau de bord
                </a>
            </li>
            <li>
                <a href="./../admin/show-posts" class="nav-link text-white">
                    Articles
                </a>
            </li>
            <li>
                <a href="./../admin/create-post" class="nav-link text-white">
                    Ajouter un article
                </a>
            </li>
            
            <li>
                <a href="#" class="nav-link text-white">
                    Commentaires
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    Utilisateurs
                </a>
            </li>
        </ul>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://via.placeholder.com/150" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Tellou</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Paramètres</a></li>
                <li><a class="dropdown-item" href="#">Profil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Déconnexion</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <h1 class="display-6">Interface administrateur</h1>
        {% block admin_content %}{% endblock %}
    </div>
</div>
{% endblock %}