<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css"/>
            <title>{% block title %}{% endblock %} Estelle Gaits - Blog PHP Openclassrooms </title>
        {% endblock %}
    </head>
    <body>
        <div id="content">
            <h1>Bienvenue sur mon blog</h1>
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2021 - Estelle Gaits</a>.
            {% endblock %}
        </div>
    </body>
</html>