<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon_io/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon_io/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon_io/favicon-16x16.png">
            <link rel="manifest" href="/assets/images/favicon_io/site.webmanifest">
            <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="/assets/css/style.css"/>
            <title>{% block title %}Estelle Gaits - Blog PHP Openclassrooms {% endblock %} </title>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="/">
                    Estelle Gaits Blog
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Accueil
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Articles</a>
                        </li>
                        {% if user %}
                            <li class="nav-item">
                                <a class="nav-link" href="/profile">Mon compte</a>
                            </li>
                            <li class="nav-item">
                                <form action="/logout-user" method="post">
                                    <button class="btn btn-warning" type="submit">Déconnexion</button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Inscription</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <div id="footer" class="bg-dark text-white d-flex justify-content-center position-fixed bottom-0 end-0 start-0">
            {% block footer %}
                <ul class="list-unstyled">
                    <li><p class="my-4">  &copy; Copyright 2021-2022,  Estelle Gaits. </p></li>
                    {% if user %}
                    <li><a href="/admin" class="text-white">Accéder à l'interface administrateur</a></li>
                    {% endif %}
                </ul>
            {% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/fbd9e6f2c3.js" crossorigin="anonymous"></script>
    </body>
</html>
