{% extends "base.html.twig" %}

{% block title %}Accueil - Estelle Gaits - Blog PHP Openclassrooms{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="content" class="container">
        <main class="pb-5">
            <div class="mt-5 p-4 p-md-5 mb-4 text-white rounded bg-dark">
                <h2 class="display-4 fst-italic">Bienvenue sur mon blog</h2>
                <p class="lead my-3">Irure commodo qui commodo in incididunt voluptate officia magna eiusmod et irure. Veniam pariatur laboris ex laboris dolore. Nulla elit dolor commodo aliquip nisi eiusmod. Quis ipsum nisi minim velit consectetur excepteur nulla aliqua non anim enim. Tempor anim laborum quis elit qui elit pariatur sunt. Deserunt cillum excepteur amet adipisicing et non eiusmod voluptate aliquip consectetur veniam id aliquip. Sint tempor consequat mollit aliquip ea occaecat esse amet.</p>
            </div>
        </main>
    </div>
{% endblock %}