{% extends "base.html.twig" %}

{% block title %}Page d'accueil{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h2>Accueil</h2>
    <p>Je suis sur la page d'accueil</p>
{% endblock %}