{% extends "base.html.twig" %}

{% block title %}Se connecter{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="d-flex text-center justify-content-center pt-5 mt-5">
    <main class="py-5 my-5 bg-light w-25 ">
        <form action="login-user" method="post">
            <img class="mb-4" src="../public/assets/images/Coccinelle-seule.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Connexion</h1>
            <div class="form-floating mx-4 my-4">
                <input type="email" class="form-control" id="floatingInput" placeholder="nom@exemple.com" name="email">
                <label for="floatingInput">Adresse email</label>
            </div>
            <div class="form-floating mx-4 my-4">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Mot de passe" name="password">
                <label for="floatingPassword">Mot de passe</label>
            </div>
            <div class="checkbox mb-3 mt-2">
                <label>
                    <input type="checkbox" value="remember-me" name="remember-me"> Se souvenir de moi
                </label>
            </div>
            <button class="w-50 btn btn-lg btn-primary mx-4 my-4" type="submit">Se connecter</button>
        </form>
        {% if message %}
            <div class="alert alert-dismissible alert-danger my-2">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
                </div>
        {% endif %}
    </main>
</div>
{% endblock %}